:root {
  --font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  --base-color: hsl(200, 100%, 37%);
  --base-color-fade: hsl(200, 50%, 75%);
  --comp-color: hsl(20, 100%, 37%);
  --comp-color-fade: hsl(20, 50%, 75%);
  --base-gray: hsl(200, 0%, 37%);
  --base-gray-fade: hsl(200, 0%, 75%);
  --base-font-color: hsl(200, 100%, 20%);
  --comp-font-color: hsl(20, 100%, 20%);
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: 1vw;
  font-family: var(--font-family);
  color: var(--base-font-color);
}

div {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.fixedHeight {
  flex: none;
}

.fillHeight {
  flex: auto;
}

.autoScrollY {
  overflow-y: auto;
}