:root {
  --font-family: Arial, Helvetica, "Liberation Sans", sans-serif;
  --base-font-size: 1vw;
  --base-color: hsl(200, 100%, 37%);
  --base-color-fade: hsl(200, 50%, 75%);
  --comp-color: hsl(20, 100%, 37%);
  --comp-color-fade: hsl(20, 50%, 75%);
  --base-gray: hsl(200, 0%, 37%);
  --base-gray-fade: hsl(200, 0%, 75%);
  --base-font-color: hsl(200, 100%, 20%);
  --comp-font-color: hsl(20, 100%, 20%);
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-size: var(--base-font-size);
  font-family: var(--font-family);
  color: var(--base-font-color);
}

*:focus {
  outline: none;
  box-shadow: 0 0 2px 2px var(--base-color-fade);
}

div {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: .25em 0;
}

p {
  margin: 0;
  padding: .25em 0;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.fixedHeight {
  flex: none;
}

.fillHeight {
  flex: auto;
}

.pad {
  padding: .5em;
}

.autoScrollY {
  overflow-y: auto;
}

.floatleft {
  float: left;
}

.clearLeft {
  clear: left;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

select,
input,
textarea {
  font-family: var(--font-family);
  font-size: 1em;
}

textarea {
  min-height: 4.4vw;
  min-width: 40vw;
  line-height: 1.1vw;
}

.list-title {
  font-weight: bold;
  font-size: 1.25em;
}

.floatContainer::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.header-row-border {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: var(--base-color-fade);
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: var(--base-color-fade);
}

.row-border {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: var(--base-color-fade);
}

.clickable {
  cursor: pointer;
}

.cell,
.cell-heading {
  float: left;
  border-style: solid;
  border-width: thin;
  border-color: hsla(0, 0%, 0%, 0);
  padding: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
}

.cell-heading {
  border-left-color: var(--base-color-fade);
  text-align: center;
  font-weight: bold;
}

.w1 {
  width: 1em;
}

.w2 {
  width: 2em;
}

.w3 {
  width: 3em;
}

.w5 {
  width: 5em;
}

.w7 {
  width: 7em;
}

.w10 {
  width: 10em;
}

.w15 {
  width: 15em;
}

.w20 {
  width: 20em;
}

.w40 {
  width: 40em;
}

span.block {
  display: inline-block;
}

.button {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid hsla(0, 0%, 0%, 0);
  border-radius: 5em;
  padding: 0 2em;
  background: radial-gradient(white, var(--base-color-fade), var(--base-font-color) 95%);
  min-width: 4em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  font-size: var(--base-font-size);
  font-weight: bold;
  color: var(--base-font-color);
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: radial-gradient(white, var(--base-color-fade), var(--base-color) 95%);
}

.button.disabled {
  background: radial-gradient(white, var(--base-gray-fade), var(--base-gray) 90%);
  cursor: default;
  pointer-events: none;
}

.activeLink {
  color: var(--base-color);
  cursor: default;
  pointer-events: none;
}

.button,
.noselect {
  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Chrome, Opera, Safari */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
}
