<div class="flexContainer" style="float: left; width: 20%; height: 100%;">
    <div class="fixedHeight" style="height: 4em; background-color: var(--base-color)">
        &nbsp;
    </div>
    <div class="fillHeight" style="background: linear-gradient(var(--base-color), var(--base-color-fade));">
        &nbsp;
    </div>
</div>
<div class="flexContainer" style="float: left; width: 80%; height: 100%;">
    <div class="fixedHeight" style="height: 4em; background: linear-gradient(to right, var(--base-color), var(--base-color-fade));">
        &nbsp;
    </div>
    <div class="fixedHeight autoScrollY" style="border: none; border-bottom: .25em double var(--base-color); padding: 3px; height: 4em;">
        message one <br>
        message two <br>
        message three <br>
        message four
    </div>
    <div class="fillHeight autoScrollY">
       <span style="position: absolute; bottom: 3px; right: 3px;">content goes here</span> 
    </div>
</div>